<h1> Contact Us </h1>
<%=image_tag "NickAbbott.jpg", :width=>"250px",:height=>"350px", :alt=>"CEO",:class=>"img"%>
<h2> Founder and CEO <hr></h2>
<p>Nicholas James Cox Abbott
<br>
nicholasabbott@depauw.edu
<br>
1847-715-6089
<br>
<p>