<h1> Welcome! </h1>
<%=image_tag "TW.jpg", :width=>"500px",:height=>"400px", :alt=>"backswing",:class=>"img"%>
<h2> SwingStop <hr> </h2>
<p> The web application SwingStop is for the crazed golf fanatics who are looking to have
 their swing critiqued but can’t scrounge up the money to get an actual lesson! SwingStop
 is a friendly environment where amateur golfers from around the globe can come to get a
 virtual lesson without paying a cent! Golfers can critique and get tips from one another. 
 We don't monitor how credible the advise is but at least it will get players thinking!
 Thank you for visiting SwingStop, Enjoy!   </p>